<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if and (not .IsHome) .Title }}{{ .Title }} « {{ end }}{{ $.Site.Title }}</title>
{{ if getenv "FA_CODE" }}
    <link rel="stylesheet" href="https://use.fontawesome.com/{{ getenv "FA_CODE" }}.css">
{{ end }}
    {{ $options := (dict "includePaths" (slice "./node_modules/foundation-sites/scss")) }}
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="/bundle.js"></script>
</head>
<body>
<div class="page-container">
    <header>
        <div class="grid-container">
            <h1><i class="fa fa-{{ if $.Scratch.Get "icon" }}{{ $.Scratch.Get "icon" }}{{ else }}globe{{ end }}"></i> {{ .Title }}</h1>
        </div>
    </header>
    <div class="grid-container">
